*.pyc
*checkpoint*
*.sh
*.out
*.err
*.ipynb
!1112_train_predict_sin1D_10.ipynb
!1117_sin_lap.ipynb
!1117_train_predict_sp.ipynb
!1120_train_predict_sp_scale.ipynb
!1219_1_summary.ipynb
!1220_train_predict_sp_v3.ipynb